extends layout


block content
	script(async type='text/javascript' src='https://getcandid.io/widget.js' data-project-id='H1cPERtb')
	.container.p-a-f
		.col-sm-12.text-center
			h1 Candid Demo
			p.lead Use the button below to add feedback