doctype html
html
	block head
		include ./meta
		
		link( rel="stylesheet", type="text/css", href="//cloud.typography.com/7062954/660928/css/fonts.css")
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(data-main='/javascripts/main.js' src='/javascripts/require.js')

		script(type='text/javascript').
			define('config', !{JSON.stringify(config)});

		script(type='text/javascript').
			define('data', !{JSON.stringify(data)});

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-11004321-1', 'auto');
			ga('send', 'pageview');
			
	body
	
		block content